    <style>
      /* Example page specific styling. */
      .autocomplete-wrapper * {
      	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
      }

      .custom-menu-class {
        box-shadow: 0 3px 0 0 #fd0, 3px 3px 0 0 #fd0, -3px 3px 0 0 #fd0;
      }

    </style>
    
    <link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css">
    
	<style>
		#autocomplete-customDropdownArrow::placeholder {
		  color: black; /* Change text colour */
		  font-size: large; /* Adjust font size */
		}
	</style>
