<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div style="font-size:x-large;font-weight:bold;padding:1em 0 0.25em 0;">
      <a href="/">[sitename.gov.uk]</a>
    </div>

    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list">
          <li class="govuk-service-navigation__item{% if currentPath == '/start' %} govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="/start"
              {% if currentPath == '/start' %}aria-current="true"{% endif %}>
              {% if currentPath == '/start' %}
                <strong class="govuk-service-navigation__active-fallback">Start a business</strong>
              {% else %}
                Start a business
              {% endif %}
            </a>
          </li>
          <li class="govuk-service-navigation__item{% if currentPath == '/funds' %} govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="/funds"
              {% if currentPath == '/funds' %}aria-current="true"{% endif %}>
              {% if currentPath == '/funds' %}
                <strong class="govuk-service-navigation__active-fallback">Get finance</strong>
              {% else %}
                Get finance
              {% endif %}
            </a>
          </li>
          <li class="govuk-service-navigation__item{% if currentPath == '/export' %} govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="/export"
              {% if currentPath == '/export' %}aria-current="true"{% endif %}>
              {% if currentPath == '/export' %}
                <strong class="govuk-service-navigation__active-fallback">Sell overseas</strong>
              {% else %}
                Sell overseas
              {% endif %}
            </a>
          </li>
          <li class="govuk-service-navigation__item{% if currentPath == '/invest' %} govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="/invest"
              {% if currentPath == '/invest' %}aria-current="true"{% endif %}>
              {% if currentPath == '/invest' %}
                <strong class="govuk-service-navigation__active-fallback">Invest in the UK</strong>
              {% else %}
                Invest in the UK
              {% endif %}
            </a>
          </li>
          <li class="govuk-service-navigation__item{% if currentPath == '/cpd' %} govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="/cpd"
              {% if currentPath == '/cpd' %}aria-current="true"{% endif %}>
              {% if currentPath == '/cpd' %}
                <strong class="govuk-service-navigation__active-fallback">Develop your skills</strong>
              {% else %}
                Develop your skills
              {% endif %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
