{% set navigationLinks = [
  { text: "Start a business", href: "/start" },
  { text: "Get finance", href: "/funds" },
  { text: "Sell overseas", href: "/export" },
  { text: "Invest in the UK", href: "/invest" },
  { text: "Develop your skills", href: "/cpd" }
] %}


<!--
    <div style="font-size:x-large;font-weight:bold;padding:1em 0 0.25em 0;">
      <a href="/">[sitename.gov.uk]</a>
    </div>
-->

<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <span class="govuk-service-navigation__service-name">
        <a href="/" class="govuk-service-navigation__link">
          [sitename.gov.uk]
        </a>
      </span>

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">

        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          {% for link in navigationLinks %}
            <li class="govuk-service-navigation__item{% if link.href == currentPath %} govuk-service-navigation__item--active{% endif %}">
              <a class="govuk-service-navigation__link" href="{{ link.href }}"
                 {% if link.href == currentPath %}aria-current="true"{% endif %}>
                {% if link.href == currentPath %}
                  <strong class="govuk-service-navigation__active-fallback">{{ link.text }}</strong>
                {% else %}
                  {{ link.text }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>

    </div>
  </div>
</section>
