{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}


{% block pageTitle %}
Wireframe - NOT A DESIGN
{% endblock %}

{% block content %}

{% include "partials/autocomp-css.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    <h1 class="govuk-heading-xl">Next steps for you</h1>
    <h2 class="govuk-heading-l">Let’s get a little more specific for your business needs.</h2>

  </div>
</div>

<form method="post" action="/find-support">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
      <label class="govuk-label" for="autocomplete-yourCountry">Where are you based?</label>
      <div id="yourCountry" class="autocomplete-wrapper"></div>
  </div>
  <div class="govuk-grid-column-one-half">
	  <label class="govuk-label" for="postcode">
		Do you have a UK postcode?
	  </label>
	  <input
		class="govuk-input govuk-!-width-two-thirds"
		id="postcode"
		name="postcode"
		type="text"
		autocomplete="postal-code"
	  >
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Use my current location</a>
      </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <label class="govuk-label" for="business-description">What does your business make or do?</label>
      <input
			class="govuk-input govuk-!-width-two-thirds"
			id="business-description"
			name="business-description"
			type="text"
		  > 
    </div>
	<button class="govuk-button" data-module="govuk-button">Find support</button>
  </div>
</div>

</form>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	<h2 class="govuk-heading-l">Starting a business: the essentials</h2>
	<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));gap: 10px;">
		<div>
			<img src="/public/images/guide.svg">
			<h3 class="govuk-heading-m"><a href="#bt1">Getting started guide</a></h3>
			<p class="govuk-body">Discover practical steps to register, plan, and launch your business with confidence using our essential guide.</p>
		</div>
		<div>
			<img src="/public/images/guide.svg">
			<h3 class="govuk-heading-m"><a href="#bt1">Mentoring and networking</a></h3>
			<p class="govuk-body">Connect with experienced mentors and build valuable networks to gain insights, guidance, and opportunities for your business journey.</p>
		</div>
	</div>
  </div>
</div>


<h2 class="govuk-heading-l">Top tips from businesses</h2>

<div class="govuk-grid-row">	
	<div class="govuk-grid-column-one-third">
	  <h3 class="govuk-heading-m">John Preston - Tech Entrepreneur</h3>
	  <p class="govuk-body"><a href="#tip-1">Start small, test your idea, and grow gradually</a></p>
	  <p class="govuk-body">Building prototypes and testing with real customers helped us refine our product and launch successfully.</p>
	</div>
	
	<div class="govuk-grid-column-one-third">
	  <h3 class="govuk-heading-m">Samantha Green - Retail Owner</h3>
	  <p class="govuk-body"><a href="#tip-2">Understand your market before you start</a></p>
	  <p class="govuk-body">Speaking to customers early gave us insight into what people wanted, which shaped our business plan.</p>
	</div>
	
	<div class="govuk-grid-column-one-third">
	  <h3 class="govuk-heading-m">Sachin Khan - Food Business Founder</h3>
	  <p class="govuk-body"><a href="#tip-3">Don’t be afraid to seek advice</a></p>
	  <p class="govuk-body">Connecting with local business support groups gave me confidence and helped me navigate early challenges.</p>
	</div>
</div>

<h2 class="govuk-heading-l">Talk to business advisors for free</h2>

<p class="govuk-body">Contact our advisor team of experts by phone, email or online. We're here to help you find the information you need to start, run, or grow your business.</p>

<p class="govuk-body"><a href="#44"> > Contact the business support service</a></p>


{% endblock %}



{% block footer %}
{% include "partials/nav-footer.html" %}
{% include "partials/autocomp-init.html" %}
{% include "partials/autocomp-configs.html" %}
{% endblock %}


