{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}


{% block pageTitle %}
Wireframe - NOT A DESIGN
{% endblock %}

{% block content %}



<h1 class="govuk-heading-xl">Skills and mentoring</h1>

<p class="govuk-body-l">
There are many different ways to grow your business. This includes taking on training or finding a mentor. Our partners can help support you or your staff.</p>

<h2 class="govuk-heading-l">In this section</h2>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">Build your leadership skills</a></li>
  <li><a class="govuk-link" href="#">Mentoring and networking</a></li>
  <li><a class="govuk-link" href="#">Courses and resources</a></li>
</ul>


{% endblock %}


{% block footer %}
{% include "partials/nav-footer.html" %}
{% endblock %}

