{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}

{% set pageName="Foo export" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Selling overseas</h1>
  <p class="govuk-body-l">
  There is a huge demand for UK goods and services across the globe. We can help you find new opportunities, get country-specific advice, access specialist exporting training and much more.</p>
  <p class="govuk-body">
  Whether you’re new to exporting or experience, the Government offers advice and support to businesses of all sizes.</p>

  <h2 class="govuk-heading-l">Export support for businesses</h2>
  <p class="govuk-body">
  The Department for Business and Trade can help your business find new opportunities, get country-specific advice, access specialist exporting training and much more.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Learn how to export and build your knowledge</h3>
	<p class="govuk-body">Join thousands of businesses benefitting from the UK Export Academy, a free online and face-to-face learning programme which can increase your confidence and knowledge of selling overseas.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Research new markets</h3>
	<p class="govuk-body">Explore different markets including opportunities across various sectors and information about preparing to export to specific countries.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Selling online</h3>
	<p class="govuk-body">Grow your business internationally through digital and e-commerce by accessing the Digital Exporting Programme, whatever your size, and whether you are new to exporting online or already doing it.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Find export events</h3>
	<p class="govuk-body">Find export events relevant for you on different topics, including webinars, trade missions and trade shows around the world.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Report an exporting issue</h3>
	<p class="govuk-body">Facing difficulties selling abroad? Report any issues to the UK Government for potential assistance. You can also speak to the Export Support Team at the UK Government’s Department for Business and Trade.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Explore trade finance</h3>
	<p class="govuk-body">UK Export Finance (UKEF) is the UK’s export credit agency and part of the UK government. It can help you win export contracts, fulfil orders, and get paid by offering insurance against buyer default.
</p>
  </div>
</div>

<h2 class="govuk-heading-l">Get export support from great.gov.uk</h2>

<p class="govuk-body">
Access expert guidance, tools, and services to help grow your business internationally. Whether you need advice or have specific questions, our export support team is here to help.</p>

<p class="govuk-body">
<a href="#8"> > Visit great.gov.uk and learn how the UK Government can help you sell your products and services globally.</a></p>

<h2 class="govuk-heading-l">Top tips from companies selling overseas</h2>
<p class="govuk-body">
These businesses share their own experience of growing through international sales and offer advice to others.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Mary Cavanaugh - Founder</h3>
	<p class="govuk-body"><a href="#sub-1">I increased my sales by learning how to do business abroad</a></p>
	<p class="govuk-body">Free training from the UK Export Academy programme helped a language and translations company to increase their knowledge of exporting results in more sales.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">CEO Julianne Ponan MBE holding Magibles</h3>
	<p class="govuk-body"><a href="#sub-2">Trade advisors helped us to find new stockists in Switzerland.</a></p>
	<p class="govuk-body">A small business owner shares valuable advice and tips on selling to customers in new markets, pursuing opportunities and being aware of the challenges along the way.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Company Founder Dr Craig Rose</h3>
	<p class="govuk-body"><a href="#sub-3">I used a start up loan to sell in new international markets</a></p>
	<p class="govuk-body">Learn how a Start Up Loan enabled a seaweed business to reach international markets and discover how this approach could benefit you.</p>
  </div>
</div>

<p class="govuk-body">
<a href="#9"> > Hear from more businesses</a></p>


{% endblock %}

{% block footer %}
{% include "partials/nav-footer.html" %}
{% endblock %}