{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}


{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <h1 class="govuk-heading-xl">
    Finance and funding
  </h1>
  <p class="govuk-body-l">
    This section is for smaller businesses getting started or wanting to scale or grow. You’ll learn how other businesses have used finance and be signposted to practical support.</p>

  <h2 class="govuk-heading-l">In this section</h2>

<p class="govuk-body">You can buy:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Finance your business</li>
  <li>Research and development funding</li>
  <li>Selling products and services to the public sector</li>
  <li>Get advice on payment issues</li>
</ul>

  <h2 class="govuk-heading-l">How businesses deal with money matters</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Company Founder Dr Craig Rose</h3>
	<p class="govuk-body"><a href="#sub-1">I used a start up loan to sell in new international markets</a></p>
	<p class="govuk-body">Learn how a Start Up Loan enabled a seaweed business to reach international markets and discover how this approach could benefit you.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Mary Cavanaugh - Founder</h3>
	<p class="govuk-body"><a href="#sub-2">We gained access to finance to continue expansion into Europe.</a></p>
	<p class="govuk-body">Learn how the Export Development Guarantee by UK Export Finance helped DEA Aviation to access a finance for strategic growth.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Business Owner Jake Wright</h3>
	<p class="govuk-body"><a href="#sub-3">We improved our cashflow by getting advice on finance options</a></p>
	<p class="govuk-body">Thanks to the Made Smarter programme, Lusso were able to identify and overcome barriers to growth.</p>
  </div>
</div>


{% endblock %}


{% block footer %}
{% include "partials/nav-footer.html" %}
{% endblock %}