{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}


{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <h1 class="govuk-heading-xl">
    Unbranded page template
  </h1>
  <p class="govuk-body-l">
    This page doesn't use New Transport or display the GOV.UK header and footer.
  </p>


Export from the UK
Invest in the UK
Expand your business
Investment opportunities
Buy from the UK
Great.gov.uk will be unavailable from Monday 3rd February 2025 at 5pm UK time whilst we carry out essential maintenance. You will be able to use the website from Tuesday 4th February 2025 at midday UK time.
Invest in the UK
We can help you expand your business and find opportunities in the UK

How to expand your business
Get the guidance and insights to help you set up and grow your business in the UK
Find investment opportunities
Explore a range of foreign direct investment projects to suit your needs, by sector and location
Buy UK products and services
Find UK suppliers that can partner with your business to achieve success
Why choose the UK
The UK offers world-class talent, high investment and a robust, business-friendly environment to reliably expand, trade and invest.

Investment Zones
New hubs for investment and innovation with favourable environments and opportunities for your business to grow.
Tax and incentives
The UK has a clear and competitive tax system and offers a range of tax reliefs to give flexibility to international companies.
Talent and labour
The UK is the top-rated major European economy for attracting global talent and has one of the largest labour forces in Europe.
Infrastructure
The UK boasts Europe's largest air transport system, over 100 sea ports and an energy grid supported by the world's largest offshore windfarm.
Clean growth
The UK is leading the race to a net zero economy, with cutting-edge technology and revolutionary research.
Freeports
Strategically located in key shipping and air hubs, these special economic zones offer new investment opportunities.
Innovation
The UK offers global businesses one of the best and most ambitious ecosystems in the world to grow innovative companies.
Sectors
From cyber security to life sciences, and aerospace to food and drink, invest in a sustainable and high-tech future by trading with UK's leading industries.
UK nations and regions
The economic power and diversity of UK regions offer global businesses one of the best ecosystems in the world to grow innovative companies.

Learn about the UK's nations and regions
Was this page useful?
Yes
No
Help using this site
Privacy
Cookies
Terms and conditions
Accessibility
Export from the UK
© Crown copyright 2025. All rights reserved.

{% endblock %}

{% block footer %}
{% include "partials/nav-footer.html" %}
{% endblock %}

