{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
{% include "partials/nav-primary.html" %}
{% endblock %}


{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Invest in the UK
  </h1>

  <p class="govuk-body-l">
    We can help you expand your business and find opportunities in the UK.
  </p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#r1">Expand your business</a>
  </li>
  <li>
    <a class="govuk-link" href="#r2">Investment opportunities</a>
  </li>
  <li>
    <a class="govuk-link" href="#r3">Buy from the UK</a>
  </li>
</ul>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">How to expand your business</h3>
	<p class="govuk-body">Get the guidance and insights to help you set up and grow your business in the UK.</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Find investment opportunities</h3>
	<p class="govuk-body">Explore a range of foreign direct investment projects to suit your needs, by sector and location</p>
  </div>
  <div class="govuk-grid-column-one-third">
	<h3 class="govuk-heading-m">Buy UK products and services</h3>
	<p class="govuk-body">Find UK suppliers that can partner with your business to achieve success</p>
  </div>
</div>


<h2 class="govuk-heading-l">Why choose the UK</h2>
<p class="govuk-body">
The UK offers world-class talent, high investment and a robust, business-friendly environment to reliably expand, trade and invest.</p>


<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));gap: 10px;">
<div>
<h3 class="govuk-heading-m">Investment Zones</h3>
<p class="govuk-body">New hubs for investment and innovation with favourable environments and opportunities for your business to grow.</p>
</div><div>
<h3 class="govuk-heading-m">Tax and incentives</h3>
<p class="govuk-body">The UK has a clear and competitive tax system and offers a range of tax reliefs to give flexibility to international companies.</p>
</div><div>
<h3 class="govuk-heading-m">Talent and labour</h3>
<p class="govuk-body">The UK is the top-rated major European economy for attracting global talent and has one of the largest labour forces in Europe.</p>
</div><div>
<h3 class="govuk-heading-m">Infrastructure</h3>
<p class="govuk-body">The UK boasts Europe's largest air transport system, over 100 sea ports and an energy grid supported by the world's largest offshore windfarm.</p>
</div><div>
<h3 class="govuk-heading-m">Clean growth</h3>
<p class="govuk-body">The UK is leading the race to a net zero economy, with cutting-edge technology and revolutionary research.</p>
</div><div>
<h3 class="govuk-heading-m">Freeports</h3>
<p class="govuk-body">Strategically located in key shipping and air hubs, these special economic zones offer new investment opportunities.</p>
</div><div>
<h3 class="govuk-heading-m">Innovation</h3>
<p class="govuk-body">The UK offers global businesses one of the best and most ambitious ecosystems in the world to grow innovative companies.</p>
</div><div>
<h3 class="govuk-heading-m">Sectors</h3>
<p class="govuk-body">From cyber security to life sciences, and aerospace to food and drink, invest in a sustainable and high-tech future by trading with UK's leading industries.</p>
</div>
</div>

<h2 class="govuk-heading-l">UK nations and regions</h2>
<p class="govuk-body">
The economic power and diversity of UK regions offer global businesses one of the best ecosystems in the world to grow innovative companies.</p>
<p class="govuk-body">
<a href="#z">Learn about the UK's nations and regions</a></p>

{% endblock %}

{% block footer %}
{% include "partials/nav-footer.html" %}
{% endblock %}

